        body{
            overflow-x: hidden;
            background: rgb(76, 85, 83);
        }
        .menu{
            border: 1px solid rgb(59, 61, 60);
            background: rgb(59, 61, 60);
            padding: 12px;
        }
        .menu div span {
            color: aliceblue;
            padding: 12px;
            cursor: pointer;
        }
        .menu div span ul {
            display: none;
            transition: all 5s;
        }
        .bx{
            font-size: 3em;
            color: white;
            display: none;
            cursor: pointer;
        }
        .none{
            display: none;
        }
        .container{
            text-align: center;
            margin-top: 12%;
            margin-left: 35%;
        }
        .progress-container{
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: 30px;
            max-width: 100%;
            width: 350px;
        }
        .progress-container::before{
            content: '';
            background-color: #e0e0e0;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 4px;
            width: 100%;
            z-index: -1;
        }
        .progress{
            background-color: #3498db;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 4px;
            width: 0;
            z-index: -1;
            transition: 2s ease;
        }
        .circle{
            background-color:#fff;
            color: #999;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid #e0e0e0;
            cursor: pointer;
            
        }
        .circle:active{
            border-color: #3498db;
        }
        .circle:disabled{
            background-color: #e1e1e1;
            cursor: not-allowed;
        }
        #slides{
            margin-left: 35%;
            margin-top: 25px;
        }
        #slides img{
            display: none;
            width: 400px;
            height: 300px;
            border-radius: 25px;
        }
        #slides .current{
            display: block;
            -webkit-animation : a4 2s;
        }
        @-webkit-keyframes a1{
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
        @-webkit-keyframes a2{
            from{
                width: 0;
                left: -400px;
            }
            to{
                width: 400px;
                left: 0;
            }
        }
        @-webkit-keyframes a3{
            from{
                width: 0;
            }
            to{
                width: 400px;
            }
        }
        @-webkit-keyframes a4{
            from{
                height: 0;
            }
            to{
                height: 300px;
            }
        }
        .k{
            text-align: center;
        }
        .mohasebe{
            margin: 8px;
            border-radius: 25px;
            background: #337f85;
            padding: 3px 12px 3px 12px;
        }
        .input_bmi{
            border-radius: 35px;
            background: #d4c8c8;
            text-align: center;
        }
        .jadval{
            width: 600px;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 25px;
            margin: auto;
            background: rgb(250, 250, 249);
            box-shadow: 0px 2px 8px 4px rgb(29, 28, 28);
        }
        .ghad_vazn{
            background: rgb(79, 173, 79);
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 45%;
            border-bottom-right-radius: 45%;
            width: 590px;
            margin: auto;
            padding: 12px;
        }
        .BMI_BODY{
            border: 1px solid rgb(226, 221, 221);
            border-radius: 50%;
            background: #93c2c5;
            width: 200px;
            margin: auto;
            margin-bottom: 25px;
        }
        .car_hesab{
            width: 500px;
            margin: auto;
            margin-top: 8%;
            border: 1px solid black;
            border-radius: 8px;
            background: #eaeaea;
        }
        .number1{
            border-radius: 25px;
            text-align: center;
            margin: 5px;
            background: #d4c8c8;
        }
        .number2{
            border-radius: 25px;
            text-align: center;
            margin: 5px;
            background: #d4c8c8;
        }
        #option{
            margin-top: 29%;
            border-radius: 25px;
            background-color: #f5e618;
            width: 110px;
            text-align: center;
        }
        .click_mohasebe{
            margin-top: 29%;
            width: 100px;
            border-radius: 25px;
            background: #0dcc46;
        }
        .javab_mashin{
            color: #f77b08;
        }
        .negareshey{
            width: 560px;
            height: 400px;
            margin: auto;
            border-radius: 25px;
            background: #d4c8c8;
        }
        #input_negareshi{
            margin: 8%  0 0 15%;
        }
        #click_negareshi{
            border-radius: 25px;
            background: #0a93ee;
        }
        #vard_matn{
            text-align: center;
            margin-top: 25px;
        }
        #noghte{
            text-align: center;
            margin-top: 8%;
        }
        .type_auto_whrite{
            width: 560px;
            margin: auto;
            margin-top: 12%;
            border: 1px solid rgb(141, 131, 131);
            border-radius: 5px;
            background: #f0ebeb;
        }
        .start_type{
            float: right;
            border-radius: 25px;
            background: red;
            padding: 5px 12px 5px 12px;
        }
        #str{
            text-align: center;
        }
        @media(max-width : 320px){
            body{
                overflow-x: hidden;
            }
            html{
                overflow-x: hidden;
            }
            .three_khat{
                display: none;
            }
            .bx{
                display: block;
            }
            .container{
               margin-left: 0;
            }
            #slides{
                margin-left: 0;
            }
            #slides img{
                width: 360px;
            }
            .jadval{
                width: 300px;
                margin: auto;
            }
            .car_hesab{
                width: 300px;
            }
            #option{
                margin-top: 110px;
                margin-left: -106px;
            }
            .click_mohasebe{
                margin-top: 145px;
                margin-left: -177px;
            }
            #vard_matn{
                margin-right: 206px;
            }
            #noghte{
                padding-right: 160px;
            }
            .type_auto_whrite{
                width: 300px;
            }
        }
